body {
  margin: 0;
  padding: 0;
}
* {
  font-family: Shabnam;
}
@font-face {
  font-family: Shabnam;
  src: url("./assets/fonts/383D05_0_0.ttf");
  src: url("./assets/fonts/383D05_0_0.eot") format("embedded-opentype"),
    url("./assets/fonts/383D05_0_0.woff2") format("woff");
  font-weight: normal;
}
body::-webkit-scrollbar {
  display: none;
}
/* Header Lay Out */
.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 200px);
  grid-gap: 10px;
  background-color: #ffffff;
  width: 100%;
  height: 900px;
}
.logo {
  grid-column: 1 / 2;
  grid-row: 1 / 1;
  position: relative;
}
.logo h1 {
  position: absolute;
  top: 25px;
  left: 20px;
  font-size: 28px;
  white-space: nowrap;
}
video {
  grid-column: 3 / 6;
  grid-row: 1 / 5;
}
.calender {
  grid-column: 6 / 7;
  display: grid;
  position: absolute;
  top: 50px;
  right: 40px;
}
.calender h3 {
  font-size: 13px;
  white-space: nowrap;
  grid-column: 2 / 4;
}
.svg {
  width: 30px;
  grid-column: 1 / 2;
  margin-top: 9px;
  margin: 10px 10px;
}
.slogan {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  display: grid;
  justify-content: center;
  align-content: center;
}
.smallText {
  text-align: center;
  font-size: 14px !important;
  font-weight: 400px;
}
#sentence {
  overflow: hidden;
  padding: 0px;
  width: auto;
  width: 477px;
  margin: 0 auto;
  height: 91px;
}

#sentence > li,
#sentence > ul {
  display: inline;
  line-height: 0.5em;
  height: 66px;
}
#sentence > ul {
  width: 400px !important;

  margin: 0 auto;
}

#textSlider {
  overflow: visible !important;
  text-align: right;
  display: inline;
  position: relative;
  height: 30px;
  padding: 16px 37px;
}

.adj {
  white-space: nowrap;
  list-style: none;
  position: absolute;
  line-height: 0.3em;
  -webkit-transform: translateY(120px);
  -ms-transform: translateY(120px);
  transform: translateY(120px);
}
.slide-in {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slide-out {
  -webkit-transform: translateY(-120px);
  -ms-transform: translateY(-120px);
  transform: translateY(-120px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body {
  line-height: 1.618;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  vertical-align: middle;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.wrapper {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding: 1.5em;
}
.masonry-wrapper {
  padding: 1.5em;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}
.masonry {
  columns: 2;
  column-gap: 100px;
}
.masonry-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 90px;
}
.masonry-item a {
  color: #c6c5c5;
}
@media only screen and (max-width: 1023px) {
  .masonry {
    columns: 1;
  }
}
@media only screen and (min-width: 1324px){
  .masonry {
    columns: 3;
  }
}
.masonry-content {
  overflow: hidden;
}
.masonry-item {
  color: #111111;
  background-color: #ffffff;
  width: 500px;
}
.masonry-title,
.masonry-description {
  margin: 0;
}
.masonry-title {
  font-size: 23px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 1rem 0;
  line-height: 1.19;
}

/* Footer */
.footerContainer {
  background-color: #f8f6f5;
  width: 100%;
  height: 850px;
  display: flex;
}
.box1 {
  flex: 1 1 36%;
}
.box2 {
  flex: 1 1 32%;
  display: flex;
  flex-direction: column;
}
.box3 {
  flex: 1 1 32%;
  display: flex;
  flex-direction: column;
}
.inBox1 {
  height: 33.333%;
  flex: 1 1 33.3333%;
  margin: 20px;
}
.inBox2 {
  height: 33.333%;
  flex: 1 1 33.3333%;
  margin: 20px;
}
.inBox3 {
  flex: 1 1 33.3333%;
  height: 33.333%;
  margin: 20px;
}
.inBox1,
.inBox2 {
  display: flex;
  flex-direction: column;
}

.inBox1 {
  border: 0.5px solid#c6c5c5;
  border-left: none;
  border-right: none;
}
.box2 .inBox3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.col1,
.col2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
  height: 80%;
}
.col1 {
  width: 30%;
}
.col2 {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.box3 .inBox3 {
  display: flex;
  align-items: flex-end;
}
.nav {
  color: #c6c5c5;
}
.boldText{
  font-size: 23px;
}
/* Media Query */
@media (max-width: 1600px) {
  video {
    width: 800px !important;
  }

}
@media (max-width: 1390px) {
  video {
    width: 700px !important;
  }
}
@media (max-width: 1000px) {
  video {
    width: 600px !important;
  }
}
@media (max-width: 800px) {
  video {
    width: 500px !important;
  }
  .video {
    grid-column: 1 / 6;
  }
}
@media (max-height: 800px) {
  .slogan {
    grid-row: 3 / 5;
  }
}
